<main id="upsertAuthorForm">
    <form th:action="@{/authors/upsert}" method="post" th:object="${dto}" id="upsertForm">
        <input type="hidden" th:value="*{id}" th:field="*{id}">
        <div class="alert alert-danger mb-3" role="alert" th:errors="*{title}"></div>
        <div class="mb-3">
            <label for="title" class="form-label">Title *</label>
            <input type="text" class="form-control" id="title" placeholder="Title" th:value="*{title}"
                th:field="*{title}">
        </div>
        <div class="alert alert-danger mb-3" role="alert" th:errors="*{firstName}"></div>
        <div class="mb-3">
            <label for="firstName" class="form-label">First Name *</label>
            <input type="text" class="form-control" id="firstName" placeholder="First Name" th:value="*{firstName}"
                th:field="*{firstName}">
        </div>
        <div class="mb-3">
            <label for="lastName" class="form-label">Last Name </label>
            <input type="text" class="form-control" id="lastName" placeholder="Last Name" th:value="*{lastName}"
                th:field="*{lastName}">
        </div>
        <div class="alert alert-danger mb-3" role="alert" th:errors="*{birthDate}"></div>
        <div class="mb-3">
            <label for="birthDate" class="form-label">Birth Date *</label>
            <input type="date" class="form-control" id="birthDate" placeholder="Birth Date" th:value="*{birthDate}"
                th:field="*{birthDate}">
        </div>
        <div class="mb-3">
            <label for="deceasedDate" class="form-label">Decease Date</label>
            <input type="date" class="form-control" id="deceasedDate" placeholder="Deceased Date"
                th:value="*{deceasedDate}" th:field="*{deceasedDate}">
        </div>
        <div class="mb-3">
            <label for="education" class="form-label">Education </label>
            <input type="text" class="form-control" id="education" placeholder="Education" th:value="*{education}"
                th:field="*{education}">
        </div>
        <div class="mb-3">
            <label for="summary" class="form-label">Summary</label>
            <textarea class="form-control" id="summary" rows="3" th:text="*{summary}" th:field="*{summary}"></textarea>
        </div>
        <button type="submit" class="btn btn-facebook w-100">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                class="icon icon-tabler icons-tabler-outline icon-tabler-device-floppy">
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <path d="M6 4h10l4 4v10a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2v-12a2 2 0 0 1 2 -2" />
                <path d="M12 14m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" />
                <path d="M14 4l0 4l-6 0l0 -4" />
            </svg>
            Save
        </button>
    </form>
</main>