<main xmlns:th="http://www.thymeleaf.org" th:fragment="content">
    <a type="button" class="btn btn-outline-success mb-3" th:href="@{/categories}">Back to categories</a>
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Books</h3>
        </div>
        <div class="card-body border-bottom py-3">
            <div class="row">
                <div class="col col-lg">
                    <form th:action="@{/books}" method="get" id="formSearch" th:object="${dto}">
                        <input type="hidden" th:value="*{categoryName}" name="categoryName">
                        <div class="mb-3 d-flex">
                            <input class="form-control me-2" type="search" placeholder="Author Name" aria-label="Search"
                            name="name" id="nameSearch" th:value="*{name}">
                        <input class="form-control me-2" type="search" placeholder="Title" aria-label="Search"
                            name="title" th:value="*{title}">
                        </div>
                        <div class="mb-3 d-flex">
                            <input class="form-check-input" type="checkbox" value="false" id="isBorrowed" name="isBorrowed" th:checked="${dto.isBorrowed==false}">
                            <label class="form-check-label" for="isBorrowed">
                               Is Available
                            </label>
                        </div>
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                </div>
                <div class="col col-lg">
                    <button type="button" class="btn btn-primary upsertBtn" th:data-categoryName="${dto.categoryName}">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24"
                            stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
                            stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                            <path d="M12 5l0 14"></path>
                            <path d="M5 12l14 0"></path>
                        </svg>
                        New Book
                    </button>
                </div>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table card-table table-vcenter text-nowrap datatable">
                <thead>
                    <tr>
                        <th>Action</th>
                        <th>Book Title</th>
                        <th>Author</th>
                        <th>Is Borrowed</th>
                        <th>Release Date</th>
                        <th>Total Page</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="book : ${books}">
                        <td>
                            <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                                <button type="button" class="btn btn-outline-success summaryBtn" th:if="${!book.summary.empty}"
                                    th:data-id="${book.code}">Summary</button>
                                <button type="button" class="btn btn-outline-warning upsertBtn"
                                    th:data-id="${book.code}">Edit</button>
                                <button type="button" class="btn btn-outline-danger deleteBtn">Delete</button>
                                <form th:action="@{/books/delete}" method="post" class="deleteForm" hidden>
                                    <input type="hidden" th:value="${book.code}" name="code">
                                </form>
                            </div>
                        </td>
                        <td th:text="${book.title}">
                        </td>
                        <td th:text="${book.authorName}"></td>
                        <td th:text="${book.isBorrowed}">
                        </td>
                        <td th:text="${book.releaseDate}">
                        </td>
                        <td th:text="${book.totalPage}">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="card-footer d-flex align-items-center">
            <th:block th:if="${books.totalPages>0}">
                <p class="m-0 text-secondary">Page<span th:text="${dto.pageNumber != null? dto.pageNumber:1}">

                    </span> of <span th:text="${books.totalPages}"></span>
                </p>
            </th:block>
            <ul class="pagination m-0 ms-auto">
                <th:block th:if="${books.totalPages > 0}" th:each="page : ${#numbers.sequence(1,books.totalPages)}">
                    <li class="page-item"><a class="page-link"
                            th:classappend="${page == dto.pageNumber ? 'active' : ''}" th:value="${page}"
                            th:href="@{/books? (name = ${dto.name},pageNumber=${page},title=${dto.title},isBorrowed=${dto.isBorrowed})}"
                            th:text="${page}"></a></li>
                </th:block>
            </ul>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="upsertModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="upsertModalLabel" aria-hidden="true">
        <div class=" modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="upsertModalLabel">Modal title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" id="loadFormUpsert">
                    ...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

        <!-- Modal -->
        <div class="modal fade" id="summaryModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="summaryModalLabel" aria-hidden="true">
        <div class=" modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="summaryModalLabel">Modal title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" id="loadFormSummary">
                    ...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>


    <script th:src="@{/resources/js/book.js}" defer></script>
</main>